body {
    position: relative;
    height: 720px;
    background: #D75734;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
}

img{
    margin: 0;
    position: absolute;
    width: 220px;
    top: 1%;
}
    
h1{
    text-align: center;
    padding: 50px;
       
}
    
div{
    background-color: #D4D2D2;
    height: 404px;
    width: 886px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 369px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}

.buttons {
    width: 394px;
    height: 58px;
    margin: 6px;
    font-size: 17px;
    color: black;
    background: linear-gradient(90deg, #B2AFAF 0%, rgba(162, 185, 245, 0.5) 104%);
}
    
    
button {
    background-color: #F96136;
    position: absolute;
    width: 150px;
    height: 53px;
    left: 364px;
    top: 325px;
    border-radius: 52px;
    text-align: center;
    color: #D4D2D2;
    font-weight: 600;
    font-size: 14px;
}

.icon button {
    position: relative;
    width: 56px;
    height: 40px;
    left: 51px;
    top: 400px;
}

.icon i {
    color: black;
    width: 29px;
    font-size: 20px;
}


@media only screen and (max-width: 768px) {
    body {
      height: 572px;
      overflow: auto;
    }
  
    img {
      width: 105px;
    }
  
    h1 {
      padding: 53px;
      font-size: 27px;
    }
  
    div {
      width: 90%;
      height: auto;
      top: 50%;
      transform: translate(-50%, -50%);
      margin-top: 50px;
    }
  
    .buttons {
      width: 80%;
      margin: 10px 0;
      font-size: 14px;
    }
  
    button {
      width: 50%;
      left: 0;
      margin-top: 20px;
      margin-left: 60px;
    }
  
    .icon button {
      left: 17px;
      top: 385px;
    }
  }
  