body {
    background-color: #D75734;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
} 

h1{
    color: white; 
    text-align: center;
    margin: 50px;
    font-weight: 600;
}

header .logo  {
    margin: 0;
    position: absolute;
    width: 288px;
}

#content {
    width: 800px;
    height: 460px;
    margin: 0 auto;
    text-align: center;
}

.images {
    width: 200px;
    height: 300px;
    float: left;
    padding: 0 20px 33px 0;
    margin-left: 45px;
}

p {
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.icon button {
    position: absolute;
    left: 100px;
}

.icon i {
    color: black;
    width: 29px;
    font-size: 20px;
}