body {
    background-color: #D75734;
    font-family: 'Lato', sans-serif;
} 

h1{
    color: white; 
    text-align: center;
    margin: 50px;
    font-weight: 600;
}

header img  {
    margin: 0;
    position: absolute;
    width: 144px;
    height: 144.72px;
}

#content {
    width: 800px;
    height: 350px;
    margin: 0 auto;
}

.images {
    width: 200px;
    height: 300px;
    float: left;
    padding: 0 20px 10px 0;
    margin-left: 20px;
    text-align: center;
}

p {
    color: white;
    font-weight: 600;
    font-size: 20px;
}

